extends ../layouts/default

mixin post(post)
    .post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
        h2: a(href='/blog/post/' + post.slug)= post.title
        p.lead.text-muted
            if post.categories && post.categories.length
                each cat, i in post.categories
                    a(href='/blog/' + cat.key)= cat.name
                    if i < post.categories.length - 1
                        | , 
                    else
                        |  
        .container
            .row
                .col-sm-3
                    if post.image.exists
                        img(src=post._.image.fit(160,160)).img.pull-right
                .col-sm-9
                    p.story-summary!= post.content.brief
                    if post.content.extended
                        p.read-more: a(href='/blog/post/' + post.slug) Read more...
        br
        br

block intro
    .container
        br
        br
        //h1= (data.category ? 'Refugee to ' + ucfirst(data.category.name) : 'Stories') + ": " + utils.plural(data.posts.results.length, '* stories')
        h1
            span Refugee to 
                div.btn-group
                  button.btn.btn-secondary.dropdown-toggle(style='font-weight: bold; font-size: 2rem',type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Success
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button') Engineer
                    button.dropdown-item(type='button') Entrepreneur
                    button.dropdown-item(type='button') Musician
                    button.dropdown-item(type='button') Photographer
                span= "   : " + utils.plural(data.posts.results.length + 0, '* stories')
        .card-deck-wrapper(style="display:none;")
            .card-deck
                .card
                    .card-block
                        h4.card-title Step 1
                        p.card-text Finish high school
                    ul.list-group.list-group-flush
                        li.list-group-item
                            a(href="#") Dor's story
                        li.list-group-item
                            a(href="#") Sayed's story
                        li.list-group-item
                            a(href="#") Sarah's story
                .card
                    .card-block
                        h4.card-title Step 2
                        p.card-text Finish university
                    ul.list-group.list-group-flush
                        li.list-group-item
                            a(href="#") Dor's story
                        li.list-group-item
                            a(href="#") Sayed's story
                        li.list-group-item
                            a(href="#") Sarah's story
                .card
                    .card-block
                        h4.card-title Step 3
                        p.card-text Graduate university
                    ul.list-group.list-group-flush
                        li.list-group-item
                            a(href="#") Dor's story
                        li.list-group-item
                            a(href="#") Sayed's story
                        li.list-group-item
                            a(href="#") Sarah's story
                .card
                    .card-block
                        h4.card-title Step 4
                        p.card-text Make a difference
                    ul.list-group.list-group-flush
                        li.list-group-item
                            a(href="#") Dor's story
                        li.list-group-item
                            a(href="#") Sayed's story
                        li.list-group-item
                            a(href="#") Omar's story
        br
        br
        br
block content
    .container: .row
        .col-sm-8.col-md-9
            if filters.category && !data.category
                h3.text-muted Invalid Category.
            else
                if data.posts.results.length
                    .blog
                        each post in data.posts.results
                            +post(post)
                    
                    if data.posts.totalPages > 1
                        ul.pagination
                            if data.posts.previous
                                li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
                            else
                                li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
                            each p, i in data.posts.pages
                                li(class=data.posts.currentPage == p ? 'active' : null)
                                    a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
                            if data.posts.next
                                li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
                            else
                                li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
                else
                    if data.category
                        h3.text-muted There are no posts in the category #{data.category.name}.
                    else
                        h3.text-muted There are no posts yet.
        
        if data.categories.length
            .col-sm-4.col-md-3
                h2 STEPS to
                .list-group(style='margin-top: 30px;')
                    each cat in data.categories
                        a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
                    a(href='/blog', class=!data.category ? 'active' : false).list-group-item All stories
