extends ../layouts/default

block content
    .container: .jumbotron
        h1 Welcome to STEPS
        .container
          .row
            .col-md-4
            .col-md-9.col-sm-8
              div(role='form')
                .col-md-4
                  h3 I'm interested in
                .col-md-4
                  .form-group
                    input#exampleInputEmail1.form-control(type='text', value='law')
                    button.btn: a(href='blog/lawyer') Go!
          .row
            .col-md-4
              h3 I'm not sure what options I have
            .col-md-4
              h3 We can help!
              p Would you like to talk to someone about your career options?
              p(style='') Ask a refugee who has taken those steps
            .col-md-4
              h3
                p Someone has been there
              button.btn.btn-default.btn-lg(type='button', data-placement='auto right') Contact Us
