extends ../layouts/default

block content
    .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        article
            p: a(href='/blog') &larr; back
            hr
            if !data.post
                h2 Invalid Post.
            else
                header
                    h1= data.post.title
                    h5 categories: 
                        if data.post.categories && data.post.categories.length
                            each cat, cat_i in data.post.categories
                                a(href='/blog/' + cat.key)= cat.name
                                if cat_i < data.post.categories.length - 1
                                    | , 
                                else
                                    |  
                .post
                    if data.post.image.exists
                        .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
                    != data.post.content.full
                    if data.post.video_embed
                        if data.post.video_embed.html
                            p!= data.post.video_embed.html
    .container
        h2 Make contact
        if enquirySubmitted
            h3 Thanks for getting in touch.
        else
            .row: .col-sm-8.col-md-6
                form(method='post')
                    input(type='hidden', name='action', value='contact')
                    .form-group(class=validationErrors.name ? 'has-error' : null)
                        label Your name
                        input(type='text', name='name.full', value=formData['name.full']).form-control
                    .form-group(class=validationErrors.email ? 'has-error' : null)
                        label Your email
                        input(type='email', name='email', value=formData.email).form-control
                    .form-group(class=validationErrors.message ? 'has-error' : null)
                        label Tell us about yourself
                        textarea(name='message', placeholder='' rows=9).form-control= formData.message
                    .form-actions
                        button(type='submit').btn.btn-primary Send
